.azTaskbar-Tooltip{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.azTaskbar-Separator{
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0px 3px;
}

.azTaskbar-indicator{
  height: 3px;
  width: 7px;
  border-radius: 25px;
  transition-duration: 150ms;
}

.azTaskbar-BaseIcon{
  padding: 3px 8px;
  margin: 3px 1px;
  border-radius: 99px;
  transition-duration: 150ms;
  spacing: 6px;
}

.azTaskbar-BaseIcon:focus, .azTaskbar-BaseIcon:hover{
  background-color: rgba(211, 211, 211, 0.20);
}

.azTaskbar-BaseIcon:active, .azTaskbar-BaseIcon:checked{
  background-color: rgba(211, 211, 211, 0.225);
}

.azTaskbar-BaseIcon.pressed{
  background-color: rgba(211, 211, 211, 0.165);
}

.azTaskbar-BaseIconText{
  padding: 3px 12px;
  -st-natural-width: 14.75em;
  max-width: 14.75em;
}

.azTaskbar-favorite{
  background-color: rgba(1, 102, 196, 0.493);
}

.azTaskbar-symbolic-icon{
  -st-icon-style: symbolic;
}

.azTaskbar-multi-window-indicator{
  margin: 5px 0px 0px 2px;
  padding: 1px;
  border-radius: 99px;
  background-color: rgba(48, 48, 48, 1);
  border: 1px solid rgba(204, 204, 204, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
  color: white;
  transition-duration: 150ms;
}

.azTaskbar-window-preview-menu-item {
  padding: 4px;
}

.azTaskbar-window-preview-header-box{
  spacing: 6px;
  padding: 0px;
  margin: 2px 0px 4px 3px;
}

.azTaskbar-window-preview-close-button{
  padding: 0px;
  margin: 0px;
}
